    <!-- essa parte só aparece quando cadastra um ponto de coleta -->
    <div id="modal">
        <div class="content">
            <div class="header" style="display: block; text-align: center;">
                <img src="assets/icones/check.svg" alt="Cadastro concluido">
                <h1>Cadastro concluido</h1>
            </form>
        </div>
    </div>

    <script>
        //essa função encaminha o usuario para a pagina home após 2 segundos
        setTimeout( () => {window.location = "/"}, 2000 )
    </script>