/* general */

:root {
    --title-color: #322153;
    --background-color: #f0f0f5;
    --primary-color: #34CB79;
    --dark-green-color: #2fb86e;
}

html {
    font-family: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
}

body {
    background-color: var(--background-color);
}