/* portable devices*/

@media(max-width: 900px) {
    /* pagina create-point  e serach result header*/
    header {
        flex-direction: column;
    }
    header a {
        margin-top: 10px;
    }
    /* page home*/
    #page-home {
        background-position: 100vw 20vh;
    }
    #page-home .content {
        align-items: center;
        text-align: center;
    }
    #page-home main {
        align-items: center;
        width: auto;
        margin-bottom: 50px;
    }
    #page-home header a {
        position: absolute;
        bottom: 5vh;
    }
    /* modal page */
    #modal .content {
        width: 90%;
        margin: 0 auto;
    }
    /* pagina create-point */
    #create-point {
        margin: 0;
        width: 100%;
    }
    #create-point form {
        margin: 40px 0 0;
        border-radius: 0;
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 20px;
        justify-content: center;
    }
    #create-point form fieldset {
        border: 0;
        display: flex;
        flex-direction: column;
    }
    #create-point .field-group {
        flex-direction: column;
    }
    #create-point .field+.field {
        margin-left: 0;
    }
    #create-point .field {
        margin: 10px 0;
    }
    #create-point button {
        margin: 10px auto;
    }
    #create-point .items legend {
        display: flex;
        flex-direction: column;
        align-items: unset;
    }
    .itens-grid {
        grid-template-columns: 1fr 1fr;
        margin: 10px 0;
    }
    /* page search result */
    #search-results .cards {
        grid-template-columns: 1fr;
    }
}


/* quando o celular está deitado -> landscape */

@media (orientation: landscape) {
    /* page create point */
    /* page search-results */
    #search-results .cards {
        grid-template-columns: 1fr;
    }
    #search-results .card {
        display: flex;
    }
    #search-results .card img {
        width: 50%;
        height: auto;
        object-fit: fill;
        border-radius: 8px 0 0 8px;
    }
}


/* small laptops */

@media (min-width: 900px) {
    #page-home {
        background-position: 32vw bottom;
    }
    #page-home main {
        width: 50vw;
    }
}


/* large laptops */

@media (min-width: 1440px) {
    #page-home {
        background-position-x: 35vw;
    }
}


/* 4k  devices */

@media (min-width: 1800px) {
    #page-home {
        background-position-x: 50vw;
    }
    html {
        font-size: x-large;
    }
    #page-home {
        background-position-y: center;
    }
    #page-home main {
        width: 40vw;
    }
}


/* devices with small height */

@media (max-height: 700px) {
    #page-home {
        background-position-y: 15vh;
    }
}